@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
svg{
	display: inline-block;
	vertical-align: middle;
	@include zg-transition('fill, stroke');
}
a,
[type="submit"],
[type="button"],
button{
   @include zg-transition;

   svg{
      fill: currentColor;
   }
  cursor: pointer;
  color: var(--primary-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $body-font-family;
  background-color: var(--body-background);
  color: var(--body-font-color);
  font-weight: $global-weight-light;
}

.zg-title-dot {
  &:after {
    content: '.';
    font-size: 140%;
    color: var(--primary-color);
  }
}
.zg-main-title {
  text-align: center;
}
#map {
  height: 100vh;
  margin-top: 20vh;
}
