@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
svg{
	display: inline-block;
	vertical-align: middle;
	@include zg-transition('fill, stroke');
}
a,
[type="submit"],
[type="button"],
button{
   @include zg-transition;

   svg{
      fill: currentColor;
   }
  cursor: pointer;
  color: var(--primary-color);
  border-radius: $global-radius;
}
input, .zg-input {
  border: 1px solid $gray;
  color: var(--body-font-color);
  outline: none;
  background-color: var(--body-background);
  padding: 5px;
  border-radius: $global-radius;
  &::placeholder {
    color: var(--body-font-color);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $body-font-family;
  background-color: var(--body-background);
  color: var(--body-font-color);
  font-weight: $global-weight-light;
}

.zg-title-dot {
  &:after {
    content: '.';
    font-size: 140%;
    color: var(--primary-color);
  }
}
.zg-main-title {
  text-align: center;
}
#map {
  height: 100vh;
  margin-top: 20vh;
}

.cursor {
  display: none;
}
@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    opacity: 0;
    z-index: 9999999;
  }
  .cursor__inner {
    fill: var(--primary-color);
    stroke-width: 0;
    transition: fill 0.4s ease-in-out;
    .fp-viewing-buch &{
      fill:#fff;
    }
  }
}
