{% extends "base.twig" %}

{% block content %}
    <main>
        <section class="zg-hero" style="background-image: url({{ featured_image }})">
            <h1 class="zg-title-dot zg-main-title">{{ __('TRAVEL SAFELY', 'zg') }}</h1>
            <p>Interactive world map</p>
        </section>
        <section class="zg-map-wrap position-relative">
            <div id="map" style="width: 100%; height: 80vh;"></div>
            <div class="zg-country-info">
                <div class="zg-country-info__header">
                    <h2>USA</h2>
                </div>
                <!-- /.zg-country-info__header -->
                <div class="zg-country-info__body">
                    Body
                </div>
                <div class="zg-country-info__footer">
                    footer
                </div>
            </div>
        </section>

    </main>
{% endblock %}

