{% extends "base.twig" %}

{% block content %}
    <main>
        <div class="grid-container">
            <h1 class="zg-title-dot zg-main-title">{{ __('TRAVEL SAFELY', 'zg') }}</h1>
            <div class="grid-x">
                <div class="cell small-12 medium-6 large-4">
                    <a class="zg-button" href="#map">
                        <span>{{ __('See Map', 'zg') }}</span>
                    </a>
                </div>
            </div>
        </div>
        <section class="zg-map-wrap position-relative">
            <div id="map" style="width: 100%; height: 80vh;"></div>
            <div class="zg-country-info">
                <div class="zg-country-info__header">
                    <h2>USA</h2>
                </div>
                <!-- /.zg-country-info__header -->
                <div class="zg-country-info__body">
                    Body
                </div>
                <div class="zg-country-info__footer">
                    footer
                </div>
            </div>
        </section>

    </main>
{% endblock %}

