{% extends "base.twig" %}

{% block content %}
    <main>
        <div class="grid-container">
            <h1>{{ title }}</h1>
            <div class="grid-x align-justify">
                {% for post in posts %}
                    <div class="cell small-12 medium-6">
                        {% include "partial/content.twig" with {'post': post } %}
                    </div>
                {% endfor %}
            </div>
            <!-- /.row -->
            {{ fn('foundationpress_pagination') }}
        </div>
    </main>
{% endblock %}


