.zg-header {
	padding: 24px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 32px;
  background: rgba($white, 0.2);
  backdrop-filter: blur(9px);
}
.zg-logo {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-weight: $global-weight-normal;
  font-size: 14px;
  svg {
    margin-right: 10px;
  }
}
.zg-nav-main {
  a {
    color: var(--body-font-color);
    font-size: 14px;
    font-weight: $global-weight-normal;
    &:hover {
      color: var(--primary-color);
    }
  }
}
.zg-switch-theme-color {
  padding: 7px;
  background-color: rgba($dark-blue, 0.3);
  border-radius: $global-radius;
}
