.zg-header-bar {
	@include xy-grid-container;
	display: flex;
	justify-content: space-between;
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
	height: 100vh;
	> ul.menu {
		padding: 1rem;

		a {
			color: $white;
		}
	}
}

// Tablet and desktop menu

