<nav class="mobile-off-canvas-menu off-canvas position-left hide-for-large" id="off-canvas-menu" data-off-canvas data-auto-focus="false" data-content-scroll="false">
    {% include "partial/menu.twig" with {'items': menu.mobile_nav.get_items, 'class': 'menu vertical'} %}
</nav>
